/* Write your CSS here */
.MoneyDetailsContainer {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  width: 80%;
}
.balanceContainer {
  height: 150px;
  width: 350px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #ecfccb;
  justify-content: center;
  border: 1px solid#84cc16;
  align-items: center;
}
.balanceInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.image {
  height: 80px;
  width: 80px;
}
.incomeContainer {
  height: 150px;
  width: 350px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #ede9fe;
  justify-content: center;
  border: 1px solid #06b6d4;
  align-items: center;
}
.incomeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.expensesContainer {
  height: 150px;
  width: 350px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #cbd5e1;
  justify-content: center;
  border: 1px solid #7c3aed;
  align-items: center;
}
.expensesInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
